.container {  
  margin-top: 80px;
}

.text {
  font-size: 30px;
}

.input {
  width: 500px !important;
}

.imgPanel {
  background-image: url(../assets/top.png);
  background-repeat: no-repeat;
  height: 200px;
}

.imageTop {
	/* content:url("../assets/top.png"); */
  background: url(../assets/top.png);
}

#busyIndicator {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#spinner {
  width: 100px;
  height: 100px;
}

.textColor {
  color: #FF5400 !important;
}

.toolbarColor {  
  background-color:#FFA900 !important;
}

.centerFooter {
  color: white !important;
}


/* Style: MessageToast */
/*----------------------------------------------------------*/

.sapMMessageToastSuccess {
  color: #4F8A10 !important;
  background-color: #DFF2BF !important;
  border: 1px solid #4F8A10 !important;
  border-left: 7px solid #4F8A10 !important;
}


.sapMMessageToastInfo {
  color: #00529B !important;
  background-color: #BDE5F8 !important;
  border: 1px solid #00529B !important;
  border-left: 7px solid #00529B !important;
}


.sapMMessageToastWarning {
  color: #9F6000 !important;
  background-color: #FEEFB3 !important;
  border: 1px solid #9F6000 !important;
  border-left: 7px solid #9F6000 !important;
}


.sapMMessageToastDanger {
  color: #D8000C !important;
  background-color: #FFD2D2 !important;
  border: 1px solid #D8000C !important;
  border-left: 7px solid #D8000C !important;
}


.sapMMessageToastNote {
  color: #FCF9F9 !important;
  background-color: #5D5C5C !important;
  border: 1px solid #4E4D4D !important;
  border-left: 7px solid #4E4D4D !important;
}

/* CEP */

.container {  
  margin-top: 80px;
}

.text {
  font-size: 30px;
}

.input {
  width: 500px !important;
}

.toolbarSetting {  
  background-color:#859807 !important;
  justify-content: center;
}

.colorTextFooter {
  color: white !important;  
}

/* media queries */
/*----------------------------------------------------------*/
@media only screen and (max-width: 600px) {
   
  .text {
    font-size: 20px;
  }

  .input {
    width: 230px !important;
  }



}
